<div th:fragment="footer" class="footer_section">
	<div class="w_display_flex flex_nowrap flex_between flex_align_s">
		<div class="footer_left_whole">
			<div class="footer_btn_whole display_flex flex_wrap flex_start flex_align_c">
				<button type="button" onclick="termOpen(this)" data-id="terms_btn1" class="footer_btn_term footer_btn_term1">이용약관</button>
				<p>·</p>
				<button type="button" onclick="termOpen(this)" data-id="terms_btn2" class="footer_btn_term footer_btn_term2">개인정보처리방침</button>
				<p>·</p>
				<button type="button" onclick="termOpen(this)" data-id="terms_btn3" class="footer_btn_term footer_btn_term3">저작권정책</button>
			</div>
			<div class="footer_txt_whole">
				<p>주소: 대전광역시 서구 청사로 123 1동(12345)</p>
				<p>전화: 1588-1234<span>(월~금 09:00~18:00, 공휴일 제외)</span></p>
			</div>
		</div>
		<div class="footer_link_whole display_flex flex_wrap flex_end flex_align_c">
			<a href="">등록단체 바로가기</a>	
			<a href="">소속기관 바로가기</a>	
		</div>
	</div>
</div>