@charset "UTF-8";
.header_section,
.footer_section {
	display: none;	
}

.main_section {
	width: 100%;
	min-height: 100vh!important;
	padding: 0!important;
}

.signup_whole {
    width: calc(100% - 32px);
    max-width: 1490px;
    height: calc(100vh - 202px);
    max-height: 520px;
    position: relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    overflow: auto;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.signup_whole::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.find_title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #178385;
}

.find_title p {
    padding: 20px 0;
    font-size: 18px;
}

.stage_box {
    width: 100%;
    background-color: #F2F8F6;
}

.stage_box>.display_flex {
    padding: 14px 20px 20px 20px;
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
}

.stage_box input[type="checkbox"] + span {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    cursor: pointer;
    background: url('/images/icon/signup_chk1.svg') no-repeat center center;
    background-color: #DDDDDD;
    margin: 0 auto;
}

.stage_label2 input[type="checkbox"] + span {
    background: url('/images/icon/signup_chk2.svg') no-repeat center center;
    background-color: #DDDDDD;
}

.stage_label3 input[type="checkbox"] + span {
    background: url('/images/icon/signup_chk3.svg') no-repeat center center;
    background-color: #DDDDDD;
}

.stage_label3 input[type="checkbox"]:checked + span {
    background: url('/images/icon/signup_checkd3.svg') no-repeat center center;
    background-color: #178385;
}

.stage_label4 input[type="checkbox"]:checked + span {
    background: url('/images/icon/request_chk_icon.svg') no-repeat center center;
    background-color: #178385;
}

.stage_box label span.text {
    font-size: 12px;
    color: #707070;
    font-weight: 300;
    margin-top: 6px;
}

.stage_box input[type="checkbox"]:checked + span + span.text {
    color: #178385;
    font-weight: bold;
} 

.request_whole {
    padding: 30px 10px;
    width: calc(100% - 20px);
    max-width: 570px;
    margin: 0 auto;
}

.request_whole img {
    display: block;
    margin: 0 auto 20px;
    width: 50px;
    height: 50px;
}

.request_whole p {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}

.request_whole p + p {
    margin-top: 30px;
}

.request_whole p span {
    color: #F55556;
}

.request_whole button {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
}

.request_whole button.individual_key {
    border: 1px solid #288385;
    background-color: #F2F8F6;
    color: #288385;
    margin-top: 30px;
}

.request_whole button.individual_key:hover {
    background-color: #DFEDE8;
}

.request_whole button.check_btn {
    background-color: #178385;
    color: #fff;
    margin-top: 10px;
}

.request_whole button.check_btn:hover {
	background-color: #136567;
}



@media (min-width: 1024px) {
    .signup_whole {
        /* height: auto; */
        max-height: 756px;
    }
    .find_title p {
        font-size: 24px;
        padding: 30px 0 26px;
    }

    .stage_box .display_flex {
        justify-content: space-around;
    }

    .stage_box>.display_flex {
        padding: 20px;
    }

    .stage_box input[type="checkbox"] + span {
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }

    .stage_label1 input[type="checkbox"] + span {
        background-size: 28px 26px !important;
    }

    .stage_label2 input[type="checkbox"] + span {
        background-size: 28px 28px !important;
    }
    
    .stage_label3 input[type="checkbox"] + span {
        background-size: 22px 28px !important;
    }

    .stage_box label p {
        font-size: 16px;
        margin-top: 10px;
    }

    .request_whole {
        padding: 60px 0 75px;
    }

    .request_whole img {
        margin-bottom: 40px;
    }

    .request_whole p {
        font-size: 16px;
    }

    .request_whole p + p {
        margin-top: 100px;
    }

    .request_whole button.chkec_btn,
    .request_whole button.individual_key {
        margin-top: 14px;
    }

}



