@charset "UTF-8";
/* alert 팝업 */
.common_alert_whole {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.common_alert_bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(25,25,25,0.5);
}

#thumbnails {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.common_alert_box {
    position: absolute;
    width: calc(100% - 60px);
    max-width: 250px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 99px rgba(0,0,0,0.1);
    border: none;
    padding: 40px 30px 30px 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

p.common_alert_txt {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #191919;
    text-align: center;
    margin: 0 auto 30px auto;
}

.common_alert_ok {
    display: block;
    width: 100%;
    max-width: 120px;
    height: 36px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #178385;
    margin: 0 auto;
    border-radius: 10px;
}

.common_alert_ok:hover {
    background-color: #136567;
}





/* 스탠바이 팝업 */
.common_stanby_whole {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.common_stanby_bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(25,25,25,0.5);
}

.common_stanby_box {
    position: absolute;
    width: calc(100% - 60px);
    max-width: 250px;
    height: auto;
    padding: 40px 30px 30px 30px;
    background-color: #FFFFFF;
    overflow: hidden;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.common_stanby_txt {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #191919;
    text-align: center;
    margin: 0 auto 15px auto;
}

p.common_stanby_txt2 {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #191919;
    text-align: center;
    margin: 0 auto 20px auto;
}

.loading_icon {
	position: relative;
	min-width: 40px;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.loading_icon span {
	position: absolute;
	display: block;
	width: 4px;
	height: 12px;
	border-radius: 6px;
  	background-color: #fff;
	animation: loader 8s infinite;
}

.loading_icon span:nth-child(1) {
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.loading_icon span:nth-child(2) {
	top: 3px;
	right: 6px;
	transform: rotate(45deg);
	animation-delay: 1s;
}

.loading_icon span:nth-child(3) {
	top: 50%;
	right: 2px;
	transform: translateY(-50%) rotate(90deg);
	animation-delay: 2s;
}

.loading_icon span:nth-child(4) {
	bottom: 3px;
	right: 6px;
	transform: rotate(135deg);
	animation-delay: 3s;
}

.loading_icon span:nth-child(5) {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	animation-delay: 4s;
}

.loading_icon span:nth-child(6) {
	bottom: 3px;
	left: 6px;
	transform: rotate(45deg);
	animation-delay: 5s;
}

.loading_icon span:nth-child(7) {
	top: 50%;
	left: 2px;
	transform: translateY(-50%) rotate(90deg);
	animation-delay: 6s;
}

.loading_icon span:nth-child(8) {
	top: 3px;
	left: 6px;
	transform: rotate(135deg);
	animation-delay: 7s;
}

@keyframes loader {
  0% {
  	background-color: rgba(22,131,133,0.96);
  }
  100% {
  	background-color: rgba(100,181,170,0.1);
  }
}





/* confirm 팝업 */
.common_confirm_whole {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.common_confirm_bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(25,25,25,0.5);
}

.common_confirm_box {
    position: absolute;
    width: calc(100% - 60px);
    max-width: 250px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 99px rgba(0,0,0,0.1);
    border: none;
    padding: 40px 30px 30px 30px;
    background-color: #fff;
    border-radius: 10px;
}

p.common_confirm_txt {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #191919;
    text-align: center;
    margin: 0 auto 15px auto;
}

p.common_confirm_txt2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #191919;
    text-align: center;
    margin: 0 auto 30px auto;
}

.common_confirm_box .display_flex button.common_confirm_btn {
    width: 100%;
    max-width: 120px;
    height: 36px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.common_confirm_box .display_flex button#common_confirm_ok {
    background-color: #178385;
    margin-right: 10px;
    color: #FFFFFF;
}

.common_confirm_box .display_flex button#common_confirm_ok:hover {
    background-color: #136567;
}

.common_confirm_box .display_flex button#common_confirm_no {
    color: #168385;
    background-color: #FFFFFF;
    border-color: #168385;
}

.common_confirm_box .display_flex button#common_confirm_no:hover {
    color: #136567;
    border-color: #136567;
}





/* 오류 팝업 */
.common_error_whole {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.common_error_bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(25,25,25,0.5);
}

.common_error_box {
    position: absolute;
    width: calc(100% - 60px);
    max-width: 250px;
    height: auto;
    padding: 40px 30px 30px 30px;
    background-color: #FFFFFF;
    overflow: hidden;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.common_error_box img {
	display: block;
	min-width: 34px;
	width: 34px;
	height: 34px;
	background-size: contain;
	margin: 0 auto;
}

p.common_error_txt {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #BB0000;
    text-align: center;
    margin: 20px auto;
}

p.common_error_txt2 {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #191919;
    text-align: center;
    margin: 0 auto 30px auto;
}

.common_error_ok {
    display: block;
    width: 100%;
    max-width: 120px;
    height: 36px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #178385;
    margin: 0 auto;
    border-radius: 10px;
}

.common_error_ok:hover {
    background-color: #136567;
}





/*약관*/
.conditions_popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.conditions_bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(25,25,25,0.8);
}

.loading_whole {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.loading_whole img {
	position: absolute;
    display: block;
    min-width: 160px;
    width: 160px;
    height: auto;
    background-size: contain;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
}

.loading_whole p {
	width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin: 30px auto 0 auto;
}

p.conditions_txt {
	position: absolute;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #f8f8f8;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.conditions_box {
    position: absolute;
    width: calc(100vw - 60px);
    height: calc(100vh - 130px);
    bottom: -100vw;
    left: 0;
    padding: 30px 30px 20px 30px;
    background-color: #FFFFFF;
    border-radius: 20px 20px 0 0;
}

.conditions_popup.terms_open .conditions_box {
    bottom: 0;
    transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1);
}

.conditions_popup.terms_open2 .conditions_box {
    bottom: -100vh;
    transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1);
}

.conditions_load {
    position: relative;
    width: 100%;
    height: calc(100vh - 170px);
    max-height: calc(100vh - 170px);
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    padding: 0 10px 10px 0;
}

.conditions_load::-webkit-scrollbar {
    width: 5px;
    height: auto;
    border-radius: 5px;
    background-color: #F2F8F6;
}

.conditions_load::-webkit-scrollbar-thumb {
    width: 5px;
    height: auto;
    border-radius: 5px;
    background-color: #64B5AA;
}

.conditions_load .no_data_txt p {
    color: #999999;
}

.conditions_btn_whole {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

button.conditions_btn {
	display: block;
	width: 100%;
	height: 32px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #fff;
	background-color: #178385;
	border-radius: 5px;
}

button.conditions_btn:hover {
	background-color: #126567;
}




/* 이벤트 이력 팝업 */
.event_history_popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.event_history_bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(25,25,25,0.5);
}

.event_history_whole {
    position: absolute;
    width: calc(100% - 50px);
    max-width: 880px;
    max-height: 876px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.event_history_inner {
    width: calc(100% - 40px);
    height: calc(100vh - 172px);
    padding: 30px 20px;
    margin: 0 auto;
}

.event_history_inner .popup_title {
    font-size: 18px;
    margin-bottom: 16px;
}

.event_history_inner .sub_title_box div {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.event_history_inner .sub_title_box div p:first-child {
    font-weight: 500;
    margin-right: 8px;
    min-width: max-content;
}

.history_content_whole {
    width: 100%;
    margin-top: 25px;
    height: calc(100% - 100px);
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.history_content_whole::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.history_content_inner {
    padding-bottom: 110px;
}

.history_content>h4 {
    font-size: 14px;
}

.history_content>h4 span {
    color: #178385;
}

.history_list {
    margin-top: 10px;
}

.history_list ul {
    width: calc(100% - 22px);
    border-radius: 10px;
    border: 1px solid #E1E1E1;
    padding: 5px 10px;
    margin-top: 5px;
}

.history_list ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E1E1E1;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 300;
    color: #999999;
}

.history_list ul li:last-child {
    border-bottom: none;
}

.history_list ul li p:first-child {
    color: #191919;
    font-weight: 500;
    min-width: max-content;
    margin-right: 5px;
}

.history_list ul li p:last-child {
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}

.history_occur {
    margin-top: 30px;
    font-size: 14px;
}


.popup_cloes_box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 96px;
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0.42), rgba(255, 255, 255, 1));
}

.popup_cloes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    width: 130px;
    height: 36px;
    border-radius: 10px;
    border: 1px solid #168385;
    background-color: #fff;
    color: #168385;
}





/* 현황관리 팝업 */
.data_change_whole {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9;
	display: none;
}

.data_change_bg {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
}

.data_change_box {
	position: absolute;
	width: calc(100vw - 50px);
	height: auto;
	max-height: calc(100vh - 112px);
	background-color: #FFFFFF;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

p.data_change_title {
	width: calc(100% - 40px);
	font-size: 18px;
	line-height: 27px;
	font-weight: bold;
	color: #191919;
	margin: 30px auto 15px auto;
}

.data_change_wflex {
	width: calc(100% - 40px);
	height: auto;
	margin: 0 auto;
}

p.data_change_subtitle {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #191919;
}

.data_change_box p.data_change_subtitle + p.data_change_subtitle {
	margin-top: 5px;
}

p.data_change_subtitle span {
	font-weight: bold;
	margin-right: 4px;
}

.data_change_inner {
	width: 100%;
	height: auto;
	/* max-height: calc(100vh - 184px); */
	max-height: calc(100vh - 280px);
	margin: 0 auto;
	overflow: hidden;
	overflow-y: auto;
	padding-bottom: 100px;
}

.data_change_inner::-webkit-scrollbar {
	display: none;
}

.data_change_row {
	width: calc(100% - 40px);
	height: auto;
	margin: 30px auto 0 auto;
}

.data_change_row p {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #191919;
	margin: 0 auto 5px auto;
}

.common_signature_whole p.common_signature_maintitle {
	font-size: 14px;
	line-height: 20px;
	margin: 30px auto 6px 0;
}

.common_signature_box {
	width: calc(100% - 25px);
	padding: 10px 12px 0 13px;
}

.more_info_btn {
	border-radius: 0;
}

.btn_flex_whole {
	width: 100%;
	height: 96px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fff;
}

.btn_flex_whole button {
	display: block;
	min-width: 120px;
	width: 120px;
	height: 36px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	border-radius: 10px;
}

.change_cancel_btn {
	color: #FFFFFF;
	background-color: #168385;
	margin-right: 10px;
}

.change_cancel_btn:hover {
	background-color: #136567;
}

.close_btn {
	color: #168385;
	background-color: #FFFFFF;
	border: 1px solid #168385;
}

.close_btn:hover {
	color: #136567;
	background-color: #F5F5F5;
	border-color: #136567;
}

.data_change_content .seed_detail {
	display: block;
	margin: 30px 0;
	color: #178385;
	font-size: 14px;
    font-weight: bold;
}

.signature_situation p {
	font-size: 14px;
	font-weight: 500;
}

.signature_situation p.situation_text {
	color: #178385;
	font-weight: 400;
	margin-left: 10px;
}

.common_signature_whole {
	width: calc(100% - 40px);
}


/* progress */
.progressbar progress {
    appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 100%;
}
.progressbar progress::-webkit-progress-bar {
    background:#fff;
}
.progressbar progress::-webkit-progress-value {
    background-color: #78CABE;
}





/* 현황 업데이트 팝업 */
.present_update_popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9;
    display: none;
}

.update_popup_bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(25,25,25,0.5);
}

.present_update_whole {
	position: absolute;
	width: calc(100% - 32px);
	max-width: 880px;
	height: auto;
	/* max-height: 664px; */
	max-height: calc(100vh - 112px);
	background-color: #FFFFFF;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

p.present_update_title {
	width: calc(100% - 40px);
	font-size: 18px;
	line-height: 27px;
	font-weight: bold;
	color: #191919;
	margin: 30px auto;
}

.present_update_inner {
	width: 100%;
	height: auto;
	/* max-height: calc(100vh - 184px); */
	max-height: calc(100vh - 280px);
	margin: 0 auto;
	overflow: hidden;
	overflow-y: auto;
}

.present_update_inner::-webkit-scrollbar {
	display: none;
}

.popup_input_select .popup_input_select,
.popup_input_select .approve_box {
	width: calc(100% - 40px);
	margin: 0 auto;
}

.popup_input_select {
	width: calc(100% - 40px);
	margin: 0 auto;
}

.popup_input_select ul {
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	padding: 16px 10px 12px 10px;
}

.popup_input_select ul li {
	margin-top: 10px;
}

.popup_input_select ul li div {
	width: 100%;
}


.popup_input_select ul li:first-child {
	margin-top: 0;
}

.popup_input_select p.update_title {
	font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    min-width: max-content;
}

.popup_input_select .common_filter_search {
	margin-bottom: 0;
}

.popup_input_select .select_group_box:last-child {
	margin-top: 0;
}

.popup_input_select .common_filter_search select {
	min-width: 100%;
	/* max-width: none; */
	border-color: #C6C6C6;
	border-radius: 4px;
	height: 28px;
}

.popup_input_select ul li input {
	display: block;
	border-radius: 4px;
	border: 1px solid #C6C6C6;
	width: calc(100% - 20px);
	height: 28px;
	padding: 0 10px;
	color: #191919;
}

.popup_input_select ul li input::placeholder {
    color: #191919;
}

.popup_input_select ul li:nth-child(3) input {
	margin-top: 5px;
}

.present_update_whole .approve_box {
	width: calc(100% - 40px);
	margin: 30px auto 0;
}

.present_update_inner .approve_box p:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}

.present_update_inner .approve_box p.approve_web {
	display: none;
}

.present_update_inner .approve_box p.approve_app,
.present_update_inner .approve_box p.approve_web {
    font-size: 14px;
    font-weight: 300;
    word-break: keep-all;
    color: #178385;
}

.present_update_inner .approve_box .filebox_whole{
    width: 100%;
    height: auto;
}
.present_update_inner .approve_box .filebox{
    width: calc(100% - 2px);
    height: 170px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border: 1px solid #178385;
    margin-top: 6px;
}

.present_update_inner .approve_box .filebox input {
    background-color: transparent;
}

.present_update_inner .approve_box .trunk_default {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    cursor: pointer;
}

.present_update_inner .approve_box .input_box{
    width: 100%;
    height: 100%;
} 

.present_update_inner .approve_box .upload_hidden{
    display: none;
}

.present_update_inner .approve_box .filebox label.input_file {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.present_update_inner .approve_box .upload_name{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: #191919;
}

.present_update_inner .approve_btn {
    width: 100%;
    height: 44px;
    border-radius: 10px;
    background-color: #168385;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
}


.present_update_btn {
	width: 100%;
	margin: 30px auto;
	display: flex;
    align-items: center;
    justify-content: center;
}

.present_update_btn button {
	width: 130px;
	height: 36px;
	box-sizing: border-box;
    display: block;
	border-radius: 10px;
    background-color: #178385;
	color: #fff;
	font-size: 14px;
}

.present_update_btn button.present_close {
	border: 1px solid #178385;
	color: #178385;
	background-color: #fff;
	margin-left: 10px;
}

.present_update_btn .present_ok:hover {
	background-color: #136567;
}

.present_update_btn .present_close:hover {
	color: #136567;
	background-color: #F5F5F5;
	border-color: #136567;
}



.update_filebox_whole {
    width: 100%;
    height: auto;
}

.update_filebox .input_box {
	display: flex;
	width: 100%;
}

.update_filebox input {
    background-color: transparent;
}

.update_filebox_whole .upload_hidden {
    display: none;
}

.update_filebox label.input_file {
    display: block;
    width: 82px;
    height: 36px;
	line-height: 36px;
    border-radius: 6px;
	background-color: #178385;
    color: #fff;
	text-align: center;
    font-size: 16px;
    cursor: pointer;
	margin-right: 10px;
}

.update_filebox_whole .upload_name { 
    display: block;
    width: 100%;
	height: auto;
    font-size: 16px;
    color: #191919;
    border: none;
    padding: 0;
}

.popup_input_select .filter_calendar_area {
	margin: 0;
}

.popup_input_select .filter_calendar_area .display_flex input {
	text-align: center;
}

.present_update_whole li.display_flex>div{
	margin-left: 10px;
}

.popup_add .input_flex {
	display: flex;
    align-items: center;
    justify-content: space-between;
}


.popup_add input {
	margin-top: 4px;	
}

.popup_add .input_flex input {
	margin-top: 0;
}

.popup_add .data_box .add_btn {
	min-width: 120px;
	width: 120px;
	height: 30px;
	background-color: #178385;
	color: #fff;
	margin-left: 10px;
	border-radius: 4px;
	font-size: 14px;
}





@media (max-width: 359px) {
	.common_alert_box,
	.common_confirm_box,
	.common_stanby_box,
	.common_error_box {
		padding: 40px 20px 30px 20px;
	}
}





@media (min-width: 1024px) {
	
    /* alert 팝업 */
    .common_alert_box,
    .common_stanby_box,
    .common_confirm_box,
    .common_error_box  {
        max-width: 440px;
    }

    p.common_alert_txt {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 28px;
    }

    .common_alert_ok {
        height: 40px;
        font-size: 18px;
        line-height: 27px;
    }


    /* 스탠바이 팝업 */
    p.common_stanby_txt{
        font-size: 18px;
        line-height: 27px;
    }





    /* confirm 팝업 */
    p.common_confirm_txt {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 28px;
    }

    .common_confirm_box .display_flex button.common_confirm_btn {
        height: 40px;
        font-size: 16px;
        line-height: 27px;
    }





    /*약관*/
    .conditions_box {
    	width: calc(100vw - 100px);
	    padding: 40px 50px 0 50px;;
    }
	.conditions_load {
		height: calc(100vh - 200px);
		max-height: calc(100vh - 200px);
	}
	
    p.conditions_title {
        font-size: 20px;
        line-height: 29px;
    }
    
    button.conditions_btn {
    	font-size: 16px;
    	line-height: 24px;
    	height: 48px;
    }
    
    
    
    
    
    
    /* 이벤트 이력 팝업 */
    .event_history_inner {
        padding: 42px 40px;
        width: calc(100% - 80px);
    }

    .event_history_inner .sub_title_box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .event_history_inner .sub_title_box div {
        margin: 0 60px 0 0;
    }

    .event_history_inner .sub_title_box div:last-child {
        margin: 0;
    }

    .history_content_whole {
        margin-top: 30px;
    }

    .history_content>h4 {
        font-size: 16px;
    }

    .history_list ul {
        width: calc(100% - 32px);
        padding: 5px 15px;
        margin-top: 10px;
    }

    .history_list ul li {
        padding: 10px 0 12px 0;
    }

    .history_content_whole {
        height: calc(100% - 140px);
        max-height: 650px;
    }
    
    .history_content_inner {
    	padding-bottom: 130px;
    }

    .popup_cloes_box {
        height: 118px;
    }

    .popup_cloes {
        height: 48px;
        font-size: 16px;
    }
    
    
    /* 현황관리 팝업 */
    p.data_change_title {
		width: calc(100% - 80px);
		font-size: 20px;
		line-height: 29px;
		margin: 40px auto 15px auto;
	}
	
	.data_change_wflex {
		width: calc(100% - 80px);
		margin-bottom: 30px;
	}
	
	.data_change_box {
		/* width: calc(100% - 354px); */
		max-width: 1485px;
	}
	
	.data_change_box p.data_change_subtitle + p.data_change_subtitle {
		margin: 0 100px 0 0;
	}
	
	.data_change_box p.data_change_subtitle {
		margin-right: 100px;
	}
	
	.data_change_row {
		width: calc(100% - 80px);
	}
	
	p.data_change_subtitle {
		font-size: 18px;
		line-height: 27px;
	}
	
	.data_change_row p {
		font-size: 16px;
		line-height: 24px;
	}
	
	.data_change_txtarea {
		width: calc(100% - 30px);
		height: 118px;
		font-size: 16px;
		line-height: 24px;
		padding: 15px;
	}
	
	.data_change_row + .data_change_row {
		margin-top: 50px;
	}
	
	.common_signature_whole p.common_signature_maintitle {
		width: 100%;
		font-size: 16px;
		line-height: 24px;
		margin: 30px 0 11px 0;
	}
	
	.common_signature_whole {
		width: calc(100% - 80px);
		padding-bottom: 30px;
	}
	
	.common_signature_box {
		width: calc(100% - 40px);
		padding: 18px 20px 0 20px;
	}
	
	.btn_flex_whole button {
		min-width: 130px;
		width: 130px;
		height: 48px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
	}
    
    .data_change_content .seed_detail {
    	margin-top: 50px;
    	font-size: 16px;
    }
    
    /* 현황 업데이트 팝업 */
    .present_update_whole p.present_update_title,
    .popup_input_select, .approve_box {
    	width: calc(100% - 80px);
    }

	.popup_input_select, .approve_box {
		margin: 0 auto;
	}


	.popup_input_select ul li {
		display: flex;
	    align-items: flex-start;
	    justify-content: flex-start;
	}

	.popup_input_select p.update_title {
		min-width: 60px;
		width: 60px;
		margin: 6px 10px 0 0;
		font-size: 16px;
	}
	
	.popup_input_select ul {
		padding: 15px;
	}

	.present_update_whole .common_filter_search select {
		min-width: 260px;
		max-width: 260px;
		height: 36px;
		font-size: 16px;
	}
	
	.popup_input_select ul li input {
		height: 36px;
		font-size: 16px;
	}

	.popup_input_select ul li:nth-child(3) input {
		margin-top: 10px;
	}

	.present_update_popup .approve_title {
		display: flex;
	    align-items: flex-end;
	    justify-content: flex-start;
	}

	.present_update_popup .approve_box p:nth-child(1) {
		margin: 0 14px 0 0;
	}

	.present_update_popup .present_update_btn {
		margin: 40px auto;
	}
	
	.present_update_popup .present_update_btn button {
		height: 48px;
		font-size: 16px;
	}
    
    .present_update_whole .approve_box {
		width: calc(100% - 80px);
		margin: 30px auto 0;
	}
	
	.present_update_whole li.display_flex>div{
		margin-left: 0;
	}
	    
	.popup_add .data_box .add_btn {
		height: 40px;
		font-size: 16px;
	} 


    
}


